<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='main.css') }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script src="{{url_for('static', filename='script.js')}} "></script>
	<title>Schildergenerator</title>
</head>
<body>
	{% set messages = get_flashed_messages(with_categories=True) %}
	{% set form = data['form'] %}
	{% if messages %}
		<ul class="flashes">
			{% for category,message in messages %}
				<li class="{{ category }}" tabindex="0">{{ message }}</li>
			{%endfor%}
		</ul>
	{%endif%}

	<a href=" {{ url_for('index') }}">Liste der fertigen Schilder</a>
	
	<form method="post" action="{{ url_for('create') }}" enctype="multipart/form-data">
		<div class="box">
		   <label>Wähle eine TeX-Vorlage:</label>
		   <ul class="{{'collapsed' if form}}">
				
				{% for textemplate in data['templates'] %}
				<li>
					<input type="radio" name="textemplate" id="tpl:{{textemplate}}" value="{{textemplate}}" checked="{{'checked' if form and textemplate == form.textemplate else ''}}" onfocus="{{'this.parentElement.parentElement.className=\'\';' if form and textemplate == form.textemplate else ''}}"/>
					<label for="tpl:{{textemplate}}"><img src="{{ url_for('tplthumbnail', tplname=textemplate, maxgeometry=80)}}" alt="{{textemplate}}" title="{{textemplate}}"/></label>
				</li>
				{%endfor%}
				<li class="onlywhencollapsed">
					<button onclick="this.parentElement.parentElement.className=''; return false;" >Auswahl anzeigen</button>
				</li>
		   </ul>
		   <div class="collapsed">
				<button class="onlywhencollapsed" onclick="this.parentElement.className=''; return false;" >Erweiterte Einstellungen</button>
				<label for="form:footer">Footer Text</label>
				<textarea name="footer" id="form:footer" cols="35" rows="5">{{ form.footer if form else data['standard_footer'] }}</textarea>
				
				<label for="form:logo">Wähle ein Logo:</label>
				<ul>
					<li>
						<input type="radio" name="logo" id="logo--none" value="__none" py:attrs="{'checked':'checked'} if defined('form') and form.logo == '__none' else {}"/>
						<label for="logo--none">Kein Logo</label>
					</li>
					<li>
						<input type="radio" name="logo" id="logo--upload" value="__upload"/>
						<input type="file" name="logoupload"/>
						<label for="logo--upload">Logo hochladen ({{', '.join(imageextensions)}})</label>
					</li>
				</ul>
				<ul class="category">
					
					{%for key in data['logos'].keys() %}
					<li>
					   <!-- <h3 onclick="toggleCollaps(this.parentElement.getElementsByTagName('ul')[0]);">Kategorie: {{key}}</h3> -->
					  
						<ul>
							{%for img in data['logos'][key] %}
							<li>
								{% if key != 'none'%}
								<input type="radio" name="logo" id="logo:{{img}}" value="{{key + '/' + img}}" py:attrs="{'checked':'checked', 'onfocus':'this.parentElement.parentElement.className=\'\';'} if ((defined('form') and form.logo == img) or ( img == standartLogo)) else {}"/>
								{%else%}
								<!-- else-->
								<input type="radio" name="logo" id="logo:{{img}}" value="{{img}}" py:attrs="{'checked':'checked', 'onfocus':'this.parentElement.parentElement.className=\'\';'} if ((defined('form') and form.logo == img) or ( img == standartLogo)) else {}"/>
								{%endif%}
								<label for="logo:{{img}}"><img src="{{url_for('logothumbnail', imgname=img, category=key, maxgeometry=100)}}" alt="{{img}}" title="{{img}}"/></label>
							</li>
							{%endfor%}
						</ul>
					</li>
					{%endfor%}
					
					<br/>
				</ul>
		   </div>
		</div><br/>
		<div class="box">
			<label for="form:headline">Überschrift</label>
			<textarea name="headline" id="form:headline" cols="35" rows="5">{{ form.headline if form }}</textarea>
		</div>
		<div class="box">
		   <label for="form:text">Text</label>
		   <select name="markup">
				<option value="latex" py:attrs="{'selected':'True'} if defined('form') and form.markup == 'latex' else {}">LaTeX</option>
				<option value="rst" py:attrs="{'selected':'True'} if not defined('form') or form.markup == 'rst' or form.markup == '' else {}">Wiki (reStructuredText)</option>
		   </select>
		   <textarea name="text" id="form:text" cols="35" rows="5">{{ form.text if form}}</textarea>
		</div>
		<br/>
		<div class="box imageselect">
			<label for="form:img">Wähle ein Bild (falls auf Vorlage anwendbar):</label>
			<ul>
				<li>
					<input type="radio" name="img" id="img--none" value="__none" {{'checked="checked"' if not form or form.img == '__none'}}"/>
					<label for="img--none">Kein Bild</label>
				</li>
				<li style="display:block">
					<input type="radio" name="img" id="img--upload" value="__upload"/>
					<input type="file" name="imgupload"/>
					<label for="img--upload">Bild hochladen ({{', '.join(imageextensions)}})</label>
					<ul class="onlywhenupload">
						<label for="img--cat">Wähle eine Kategorie:</label>
						{% for key in data['images'].keys() %}
						<li>
						   <input type="radio" name="img--cat" id="img--cat:{{key}}" value="{{key}}" py:attrs="{'checked':'checked'} if key=='none' else {}"/> 
						   <label for="img--cat:{{key}}">{{key}}</label>
						</li>
						{%endfor%}
						<li style="display:ruby">
						   <input type="radio" name="img--cat" id="img--cat:user" value="__user"/> 
						   <label for="img--cat:user">Benutzerdefiniert:</label>
						   <textarea name="usercat" id="img--cat:usertext" cols="32" rows="1" onclick="document.getElementById('img--cat:user').checked = 'checked'"></textarea>
						</li>
					</ul>
				</li>
			</ul>
			<!--<ul py:attrs="{'class':'collapsed'} if defined('form') else {}">	  -->
			<ul class="category">
				
				{%for key in data['images'].keys()%}
				<li>
					<h3 onclick="toggleCollaps(this.parentElement.getElementsByTagName('ul')[0]);">Kategorie: {{key}}</h3>
				  
					<ul class="collapsed">
					{% for img in data['images'][key]%}
						<li>
							{% if key != 'none' %}
							<input type="radio" name="img" id="img:{{img}}" value="{{key + '/' + img}}" {{'checked="checked" onfocus="this.parentElement.parentElement.className=\'\';"' if form and key in form.img and img in form.img }}/>
							
							{%else%}
							
							<input type="radio" name="img" id="img:{{img}}" value="{{key + '/' + img}}" {{'checked="checked" onfocus="this.parentElement.parentElement.className=\'\';"' if form and img in form.img }}/>
							{%endif%}
							
							<label for="img:{{img}}"><img src="{{url_for('thumbnail', imgname=img, category=key, maxgeometry=100)}}" alt="{{img}}" title="{{img}}"/></label>
						</li>
					{%endfor%}	
					</ul>
				</li>
				{%endfor%}
				<br/>
			</ul>
		</div>
		<br/>
		<div class="box">
		{% if form and form.filename|length > 5 %}
			<input type="hidden" name="filename" value="{{form.filename}}"/>
				<input id="form:reusefilename" type="checkbox" name="reusefilename"/>
				<label for="form:reusefilename">Überschreibe bisherige Version von {{form.filename}}.</label>
			<br/>
		{%endif%}
		<input type="submit" value="Schild erstellen"/>
		</div>
	</form>
</body>
</html>
